In [20]:
#Exercise 2.1
a = (1+2+3+4+5)
print(a)
print("\n\t")


#to find the average ages(b)
sara=23
mark=19
fatima=31
avg=(sara+mark+fatima)/3
print(avg)

print("\n\t")

#c
a = 73
b = 403
c = 403//73
print(c)
print("\n\t")

#d
a = 403
b = 73
c = 403/73
print(c)
print("\n\t")

#e
a = 2**10
print(a)
print("\n\t")

#f
sara_height= 54 #in inches
marks_height=57 #in inches
difference=(marks_height - sara_height)
print(difference)
print("\n\t")

#g
price1= 34.99 #in dollars
price2=29.95 #in dollar
price3=31.50 #in dollar
min(price1,price2,price3)

15


24.333333333333332


5


5.52054794520548


1024


3

29.95

In [2]:
#Exercise no 2.4
s1=('ant')
s2=('bat')
s3=('cod')
C=(s1+s2+s3)
print(C)
print("\n\t")

S1=(s1,s2,s3)*1
print(S1)
s1=('ant')*10
print(s1)

print("\n\t")

a=('ant')
print(a+a+a+a+a+a+a+a+a+a)
s1=('ant')*1
s2=('bat')*2
s3=('cod')*3
print(s1,s2,s3)

print("\n\t")


B=(s1+s2+s2+s3+s3+s3)
print(B)
s=('ant','bad')*7
print(s)
a=(s1+s1+s1+s1+s1+s1+s1+s2+s2+s2+s2+s2+s2+s2)
X=('batbatcod')*5
print(X)

print("\n\t")

Z=((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)+((s2*2)+s3)
print(Z)

antbatcod


('ant', 'bat', 'cod')
antantantantantantantantantant


antantantantantantantantantant
ant batbat codcodcod


antbatbatbatbatcodcodcodcodcodcodcodcodcod
('ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad', 'ant', 'bad')
batbatcodbatbatcodbatbatcodbatbatcodbatbatcod


batbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcodbatbatbatbatcodcodcod

In [3]:
#2.3
x= 3
y=4
c=(x*x)+(y*y)
print(c)

25

In [26]:
#Exercise no 2.2
a=2
b=2
sum=a+b
if sum<4:
    print(true)
else:
    print('false')
print("\n\t")


a=7//3
if a==2:
    print('true')
else:
    print('false')
print("\n\t")


a=3**2
b=4**2
c=(a+b)
if c==25:
    print('true')
else:
    print('false')
print("\n\t")


a=2
b=4
c=6
d=(a+b+c)
if d>12:
    print('true')
else:
    print('false')
print("\n\t")


a=1387
b=19
c=a/b
if c==a/b: 
    print('true')
else:
    print('false')
print("\n\t")


a=31
b=a/2
if b==31/2:
    print('false')
else:
    print('true')
print("\n\t")


a=34.99 #in dollars
b=29.95 #in dollars
c=31.50 #in dollars
min(a,b,c)
if min(a,b,c)< 30.00:
    print('true')
else:
    print('false')

false


true


true


false


true


false


true

In [43]:
#Exercise no 2.5
#write an expression using string
a =("0123456789")
a[0]
print(a[0])
a[1]
print(a[1])
a[2]
print(a[6])
a[3]
print(a[8])
a[4]
print(a[9])

0
1
6
8
9

In [37]:
#Exercise no 2.6
words= {'bat','ball','barn','basket','badminton'}
(words)

{'badminton', 'ball', 'barn', 'basket', 'bat'}

In [41]:
#exercise no 2.7
grades=[9,7,7,10,3,9,6,6,2]
#a
a=grades.count(7)
print(a)
print("\n\t")

#b
a=grades[-1]=4
print(a)
print("\n\t")


#c
a=max(grades)
print(a)
print("\n\t")


#d
a= grades.sort()
print(a)
print("\n\t")


#e
import statistics
print(statistics.mean(grades))

2


4


10


None


6.777777777777778

In [77]:
#exercise 2.8
print('a)','((2+3) ==4) or (a >=5)')
print('b)','(((lst[1]) * (-3)) <(-10)) ==0')
print('c)',"(((lst[1]) * (-3)) <(-10)) in [0,true]")
print('d)','2 * (3**2)')
print('e)','(4/2) in [1,2,3]')

a) ((2+3) ==4) or (a >=5)
b) (((lst[1]) * (-3)) <(-10)) ==0
c) (((lst[1]) * (-3)) <(-10)) in [0,true]
d) 2 * (3**2)
e) (4/2) in [1,2,3]

In [48]:
#exercise 2.9
a=False+False
print(type(a))
(b)
b=2*3**2.0
print(type(b))
(c)
c = 4//2+4%2
print(type(c))
d=2+3==4 or 5>=5
print(type(d))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [49]:
#exercise 2.10
a= 2
b=2
c=a**2 + b**2
print(c)
#b
if c==5:
    print('true')
else:
    print('false')
#c
from math import pi
r=3
area=pi*r**2
print(str(area)+'m^2')
#d
r=10
x=2
y=1
a=x+y==r
b=x**2+y**2==r**2
print(a)
print(b)

8
false
28.274333882308138m^2
False
False