# QUESTION NO#01

In [1]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
print("dict['Name']: ",dict['Name'])
print("dict['Age']: ",dict['Age'])
print("dict['DOB']: ",dict['DOB'])
print("dict['Class']: ",dict['Class'])

dict['Name']:  Jibran
dict['Age']:  13
dict['DOB']:  16 April 2006
dict['Class']:  Seventh

# QUESTION NO#02

In [2]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
for x in dict:
    print(dict[x])

Jibran
13
Seventh
16 April 2006

# QUESTION NO#03

In [3]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
for x in dict.values():
    print(x)

Jibran
13
Seventh
16 April 2006

# QUESTION NO#04

In [4]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
for x, y in dict.items():
    print(x,y)

Name Jibran
Age 13
Class Seventh
DOB 16 April 2006

# QUESTION NO#05

In [5]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
if "DOB" in dict:
    print("Yes, 'DOB' is one of the keys in the dict dictionary")

Yes, 'DOB' is one of the keys in the dict dictionary

# QUESTION NO#06

In [6]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
dict['Age'] = 12.5
dict['School'] = 'The Seeds School'

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Friend1'] = 'Mohib'
dict['Friend2'] = 'Akbar'
dict['Friend3'] = 'Jazil'

print("dict['Friend1']" , dict['Friend1'])
print("dict['Friend2']" , dict['Friend2'])
print("dict['Friend3']" , dict['Friend3'])

dict['Age']:  12.5
dict['School']:  The Seeds School
dict['Friend1'] Mohib
dict['Friend2'] Akbar
dict['Friend3'] Jazil

# QUESTION NO#07

In [8]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006', 'School' : 'The Seeds School', 'Friend1' :'Mohib', 'Friend2' : 'Akbar', 'Frined3':'Jazil'}

for x, y in dict.items():
    print(x,y)
dict.pop("Friend1")
print(dict)

Name Jibran
Age 13
Class Seventh
DOB 16 April 2006
School The Seeds School
Friend1 Mohib
Friend2 Akbar
Frined3 Jazil
{'Name': 'Jibran', 'Age': '13', 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend2': 'Akbar', 'Frined3': 'Jazil'}

# QUESTION NO#08

In [9]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
dict['Age'] = 12.5
dict['School'] = 'The Seeds School'

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Friend1'] = 'Mohib'
dict['Friend2'] = 'Akbar'
dict['Friend3'] = 'Jazil'

print("dict['Friend1']" , dict['Friend1'])
print("dict['Friend2']" , dict['Friend2'])
print("dict['Friend3']" , dict['Friend3'])
del dict['Friend1']

dict['Age']:  12.5
dict['School']:  The Seeds School
dict['Friend1'] Mohib
dict['Friend2'] Akbar
dict['Friend3'] Jazil

# QUESTION NO#09

In [10]:
dict = {'Name' : 'Jibran', 'Age' : '13', 'Class' : 'Seventh', 'DOB' : '16 April 2006', 'School' : 'The Seeds School', 'Friend1' :'Mohib', 'Friend2' : 'Akbar', 'Frined3':'Jazil'}
print(dict)
for x, y in dict.items():
    print(x, y)
dict.popitem()
print("After poping form the dictionary the remaining elements are:",dict)
#friend 3 is poped

{'Name': 'Jibran', 'Age': '13', 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend1': 'Mohib', 'Friend2': 'Akbar', 'Frined3': 'Jazil'}
Name Jibran
Age 13
Class Seventh
DOB 16 April 2006
School The Seeds School
Friend1 Mohib
Friend2 Akbar
Frined3 Jazil
After poping form the dictionary the remaining elements are: {'Name': 'Jibran', 'Age': '13', 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend1': 'Mohib', 'Friend2': 'Akbar'}

# QUESTION NO#10

In [18]:
faculty = {1: {'name' : 'Syed Faisal Ali', 'experience': '22', 'gender': 'Male'},
           2: {'name' : 'Dr. M Wasim', 'experience': '23', 'gender': 'Male'},
           3: {'name' : 'Dr. Lubaid', 'experience': '23', 'gender': 'Male'},
           4: {'name' : 'Noor ul Huda', 'experience': '3', 'gender': 'Female'},
           5: {'name' : 'Parkash Lohana', 'experience': '19', 'gender': 'Male'},
           6: {'name' : 'Fauzan Saeed', 'experience': '15', 'gender': 'Male'}}
print(faculty)

{1: {'name': 'Syed Faisal Ali', 'experience': '22', 'gender': 'Male'}, 2: {'name': 'Dr. M Wasim', 'experience': '23', 'gender': 'Male'}, 3: {'name': 'Dr. Lubaid', 'experience': '23', 'gender': 'Male'}, 4: {'name': 'Noor ul Huda', 'experience': '3', 'gender': 'Female'}, 5: {'name': 'Parkash Lohana', 'experience': '19', 'gender': 'Male'}, 6: {'name': 'Fauzan Saeed', 'experience': '15', 'gender': 'Male'}}

# TASK NO#01

In [20]:
Family = {1: {'Father' : 'Imran Alam'}, 
          2: {'Mother' : 'Ghazala Imran'}, 
          3: {'Brother' : 'Abad Alam'}, 
          4: {'Sister1' : 'Shajia Imran'}, 
          5: {'Sister2' : 'Barirah Imran'}, 
          6: {'Sister3' : 'Muneeba Imran'}, 
          7: {'GrandParent maternal' : 'Naseem Ahmed , Sausan'},
          8: {'GrandParent paternal': 'Maqbool , Mehmooda'}}
print(Family)

{1: {'Father': 'Imran Alam'}, 2: {'Mother': 'Ghazala Imran'}, 3: {'Brother': 'Abad Alam'}, 4: {'Sister1': 'Shajia Imran'}, 5: {'Sister2': 'Barirah Imran'}, 6: {'Sister3': 'Muneeba Imran'}, 7: {'GrandParent maternal': 'Naseem Ahmed , Sausan'}, 8: {'GrandParent paternal': 'Maqbool , Mehmooda'}}

# TASK NO#02

In [36]:
def personal_phone_no(dict):
        dict = {'father' : "0987", 'Mother' : "76543", 'Brother' : "12345", 'sister' : "34567", 'friend1' : "76548", 'friend2' : "67546", 'friend3' : "87456", 'friend4': "098765", 'friend5': "879065", 'friend6' : "76458", 'friend7': '67890', 'friend': "87655"}
        dict.pop("Mother")
        print(dict)
personal_phone_no(dict)
len(dict)

{'father': '0987', 'Brother': '12345', 'sister': '34567', 'friend1': '76548', 'friend2': '67546', 'friend3': '87456', 'friend4': '098765', 'friend5': '879065', 'friend6': '76458', 'friend7': '67890', 'friend': '87655'}

7

# TASK NO#03

In [31]:
def hexaASCII():
    x='barirah'.lower()
    b={}
    for i in x:
        b[i]=hex(ord(i))
    return b
print(hexaASCII())

{'b': '0x62', 'a': '0x61', 'r': '0x72', 'i': '0x69', 'h': '0x68'}

# TASK NO#04

In [29]:
fav = { 'd1':'Biryani',
       'd2':'pulao',
       'd3':'chineese rice'
      }
cook_last_week = {'d3':'chineese rice'}
for x,y in fav.items():
    print(x,y)
fav.popitem()
print('Dish which are remaining to cook on next week:',fav)

d1 Biryani
d2 pulao
d3 chineese rice
Dish which are remaining to cook on next week: {'d1': 'Biryani', 'd2': 'pulao'}

# TASK NO#05

In [1]:
dict1 = {'Father':'Imran Alam','Mother':'Ghazala Imran','Sister':'Momi','Friend1':'Anhaar','Taya':'Sarfaraz Alam','Neighbour':'Ahsan'}
dict2 = {'Daughter':'Barirah','Son':'Abad','Taya':'Sarfaraz Alam','phupo':'Shabana','Mother':'Ghazala Imran'}
for i in dict1.values():
    for j in dict2.values():
        if i == j:
            print('COMMON GUEST..',i)
dict3 = {**dict1, **dict2}
a = len(dict3)
print("The total number of guests are",a)
print("THE GUESTS:",dict3.values())

COMMON GUEST.. Ghazala Imran
COMMON GUEST.. Sarfaraz Alam
The total number of guests are 9
THE GUESTS: dict_values(['Imran Alam', 'Ghazala Imran', 'Momi', 'Anhaar', 'Sarfaraz Alam', 'Ahsan', 'Barirah', 'Abad', 'Shabana'])