# QUESTION NO:1

In [1]:
phonebook1 = {'123-45-67' , '234-56-78' , '345-67-89' , '123-45-67' , '345-67-89'}
print(phonebook1)
set_len = len(phonebook1)
print ("The length of phonebook1 is: ", set_len)
print ("The given phonebook1 is: ",phonebook1)

{'123-45-67', '345-67-89', '234-56-78'}
The length of phonebook1 is:  3
The given phonebook1 is:  {'123-45-67', '345-67-89', '234-56-78'}

# QUESTION NO:2

In [2]:
mix_data = {'Usman Institute Of Technology', 17.5, (1,2,3,4,5,6)}
print(mix_data)
set_len = len(mix_data)
print("The length of  mix data is: ",set_len)

{'Usman Institute Of Technology', 17.5, (1, 2, 3, 4, 5, 6)}
The length of  mix data is:  3

# QUESTION NO:3

In [3]:
dataScientist = set(['Python', 'R' , 'SQL' , 'Git' , 'Tableau' , 'SAS'])
dataEngineer = set(['Python' , 'Java' , 'Scala' , 'Git' , 'SQL' , 'Hadhoop'])
print ("For a Data Scientist specialization you need:",dataScientist)
print ("For a Data Engineer specialization you need:",dataEngineer)

For a Data Scientist specialization you need: {'SQL', 'Python', 'SAS', 'Tableau', 'R', 'Git'}
For a Data Engineer specialization you need: {'Scala', 'SQL', 'Python', 'Java', 'Hadhoop', 'Git'}

# QUESTION NO:4

In [4]:
My_empty_set = set()
My_empty_dictionary1 = dict()
My_empty_dictionary2 = {}

print(My_empty_set)
print(My_empty_dictionary1)
print(My_empty_dictionary2)

set()
{}
{}

# QUESTION NO:5

In [7]:
My_topStudents = {'Bassam','Usman','Rafeh','Ahad','Wadood','Yusra','Asma'}
print("My top scoring in programming fundamental are:",My_topStudents)
print('oh, I guess I miss one student, let me add his name too')
print('previously i have added :'+ str(len(My_topStudents))+'student in my list')
My_topStudents.add('Khurram')
print('Thanks,I have remember him')
print('Now my top scoring students names are :', My_topStudents)
print('Now after adding i have :'+str(len(My_topStudents)) +'students in my list')

My top scoring in programming fundamental are: {'Rafeh', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
oh, I guess I miss one student, let me add his name too
previously i have added :7student in my list
Thanks,I have remember him
Now my top scoring students names are : {'Rafeh', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Khurram', 'Ahad'}
Now after adding i have :8students in my list

# QUESTION NO:6

In [9]:
My_topStudents = {'Bassam','Usman','Rafeh','Ahad','Wadood','Yusra','Asma'}
print("My top scoring in programming fundamental are:",My_topStudents)
print('oh, I guess I miss one student, let me add his name too')
print('previously i have added :'+ str(len(My_topStudents))+'student in my list')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks,I have remember him')
print('Now my top scoring students names are :', My_topStudents)
print('Now after adding i have :'+str(len(My_topStudents)) +'students in my list')
print('oh, I guess I have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students name after removing extra name are:', My_topStudents)
print(print('Now after removing i have :'+str(len(My_topStudents)) +'students in my list')
)

My top scoring in programming fundamental are: {'Rafeh', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
oh, I guess I miss one student, let me add his name too
previously i have added :7student in my list
Thanks,I have remember him
Now my top scoring students names are : {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Khurram Khalil', 'Yusra', 'Bassam', 'Ahad'}
Now after adding i have :9students in my list
oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students name after removing extra name are: {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
Now after removing i have :8students in my list
None

# QUESTION NO:7

In [10]:
My_topStudents = {'Bassam','Usman','Rafeh','Ahad','Wadood','Yusra','Asma'}
print("My top scoring in programming fundamental are:",My_topStudents)
print('oh, I guess I miss one student, let me add his name too')
print('previously i have added :'+ str(len(My_topStudents))+'student in my list')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks,I have remember him')
print('Now my top scoring students names are :', My_topStudents)
print('Now after adding i have :'+str(len(My_topStudents)) +'students in my list')
print('oh, I guess I have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students name after removing extra name are:', My_topStudents)
print(print('Now after removing i have :'+str(len(My_topStudents)) +'students in my list'))
My_topStudents.discard('Khurram Khalil')
print('Now my top scoring students name after removing extra name are:', My_topStudents)
print(print('Now after removing i have :'+str(len(My_topStudents)) +'students in my list'))

My top scoring in programming fundamental are: {'Rafeh', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
oh, I guess I miss one student, let me add his name too
previously i have added :7student in my list
Thanks,I have remember him
Now my top scoring students names are : {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Khurram Khalil', 'Yusra', 'Bassam', 'Ahad'}
Now after adding i have :9students in my list
oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students name after removing extra name are: {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
Now after removing i have :8students in my list
None
Now my top scoring students name after removing extra name are: {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
Now after removing i have :8students in my list
None

# QUESTION NO:8

In [12]:
My_topStudents = {'Bassam','Usman','Rafeh','Ahad','Wadood','Yusra','Asma'}
print("My top scoring in programming fundamental are:",My_topStudents)
print('oh, I guess I miss one student, let me add his name too')
print('previously i have added :'+ str(len(My_topStudents))+'student in my list')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks,I have remember him')
print('Now my top scoring students names are :', My_topStudents)
print('Now after adding i have :'+str(len(My_topStudents)) +'students in my list')
print('oh, I guess I have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students name after removing extra name are:', My_topStudents)
print(print('Now after removing i have :'+str(len(My_topStudents)) +'students in my list'))
My_topStudents.discard('Khurram Khalil')
print('Now my top scoring students name after removing extra name are:', My_topStudents)
print(print('Now after removing i have :'+str(len(My_topStudents)) +'students in my list'))
My_topStudents.pop()
print('Now my top scoring students name after removing extra name are:', My_topStudents)
print(print('Now after removing i have :'+str(len(My_topStudents)) +'students in my list'))

My top scoring in programming fundamental are: {'Rafeh', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
oh, I guess I miss one student, let me add his name too
previously i have added :7student in my list
Thanks,I have remember him
Now my top scoring students names are : {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Khurram Khalil', 'Yusra', 'Bassam', 'Ahad'}
Now after adding i have :9students in my list
oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students name after removing extra name are: {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
Now after removing i have :8students in my list
None
Now my top scoring students name after removing extra name are: {'Rafeh', 'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
Now after removing i have :8students in my list
None
Now my top scoring students name after removing extra name are: {'Khurram Khan', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
Now after removing i have :7students in my list
None

# QUESTION NO:9

In [13]:
My_topStudents = {'Bassam','Usman','Rafeh','Ahad','Wadood','Yusra','Asma'}
print("My top scoring in programming fundamental are:",My_topStudents)
print("Lets clear this list and prepare new list for the final exams")
My_topStudents = My_topStudents.clear()
print('Noe after clearing the set I have :', My_topStudents)

My top scoring in programming fundamental are: {'Rafeh', 'Usman', 'Asma', 'Wadood', 'Yusra', 'Bassam', 'Ahad'}
Lets clear this list and prepare new list for the final exams
Noe after clearing the set I have : None

# QUESTION NO:10

In [14]:
phonebook1 = {'123-45-67' , '234-56-78' , '345-67-89' , '123-45-67' , '345-67-89'}
phonebook3 = {'345-67-89','456-78-90'}
print("Phonebook1 is:",phonebook1)
print("Phonebook3 is:",phonebook3)
print("The Union of Phonebook1 and Phonebook3:",phonebook1 | phonebook3)
print("The Union of Phonebook3 and Phonebook1:",phonebook3 | phonebook1)

print("The intersection of Phonebook1 and Phonebook3:",phonebook1 & phonebook3)
print("The intersection of Phonebook3 and Phonebook1:",phonebook3 & phonebook1)
print("The difference between Phonebook1 and Phonebook3:",phonebook1 - phonebook3)
print("The difference between Phonebook3 and Phonebook1:",phonebook3 - phonebook1)
print("The symmetric Difference between Phonebook1 and Phonebook3:",phonebook1 ^ phonebook3)
print("The symmetric Difference between Phonebook3 and Phonebook1:",phonebook3 ^ phonebook1)

Phonebook1 is: {'123-45-67', '345-67-89', '234-56-78'}
Phonebook3 is: {'456-78-90', '345-67-89'}
The Union of Phonebook1 and Phonebook3: {'123-45-67', '456-78-90', '234-56-78', '345-67-89'}
The Union of Phonebook3 and Phonebook1: {'123-45-67', '345-67-89', '234-56-78', '456-78-90'}
The intersection of Phonebook1 and Phonebook3: {'345-67-89'}
The intersection of Phonebook3 and Phonebook1: {'345-67-89'}
The difference between Phonebook1 and Phonebook3: {'123-45-67', '234-56-78'}
The difference between Phonebook3 and Phonebook1: {'456-78-90'}
The symmetric Difference between Phonebook1 and Phonebook3: {'456-78-90', '234-56-78', '123-45-67'}
The symmetric Difference between Phonebook3 and Phonebook1: {'123-45-67', '456-78-90', '234-56-78'}

# TASK NO:1 write a program of 5 student name

In [29]:
Best_studentName = {'Muneeba','Barirah','Shajia','Anita','Jazbia'}
empty_list = set()
for i in Best_studentName:
    empty_list.add(i)
    print(empty_list)

{'Jazbia'}
{'Barirah', 'Jazbia'}
{'Barirah', 'Jazbia', 'Anita'}
{'Shajia', 'Barirah', 'Jazbia', 'Anita'}
{'Jazbia', 'Barirah', 'Anita', 'Shajia', 'Muneeba'}

# TASK NO:2

In [34]:
friends = {'Muneeba','Barirah','Shajia','Anita','Jazbia'}
print('friends are in uit is:',friends)
print('oh, i remember my two friends left uit last month')
friends.remove('Anita')
friends.remove('Barirah')
print('Friends in uit are:',friends)

friends are in uit is: {'Jazbia', 'Barirah', 'Anita', 'Shajia', 'Muneeba'}
oh, i remember my two friends left uit last month
Friends in uit are: {'Jazbia', 'Shajia', 'Muneeba'}

# TASK NO:3

In [62]:
Best_Dishes = {'biryani','pulao','chineese rice','qeema'}
empty_list = set()
Best_Dishes.pop()
print(Best_Dishes)
Best_Dishes.pop()
print(Best_Dishes)
Best_Dishes.pop()
print(Best_Dishes)
Best_Dishes.pop()
print(Best_Dishes)

{'pulao', 'chineese rice', 'qeema'}
{'chineese rice', 'qeema'}
{'qeema'}
set()

# TASK NO:4

In [1]:
items = {'iphone':'1234','samsung':'6789','nokia':'9876','honor':'09876'}
a=input("Enter how many iphone sold:")
b=input("Enter how many samsung sold:")
c=input("Enter how many nokia sold:")
d=input("Enter how many honor sold:")
empty_list = set()
for i in items:
    empty_list.add(i)
    print(empty_list)
lst=[a,b,c,d]
min(lst)
max(lst)
print('honor sold most',max(lst))
print('iphone sold least',min(lst))

Enter how many iphone sold:1
Enter how many samsung sold:2
Enter how many nokia sold:3
Enter how many honor sold:4
{'iphone'}
{'iphone', 'samsung'}
{'iphone', 'samsung', 'nokia'}
{'honor', 'iphone', 'samsung', 'nokia'}
honor sold most 4
iphone sold least 1

# TASK NO:5

In [9]:
A = {'zafir','arkam','ahmed','shehzad','ali','faisal','jamshed','fahad','salah','shaheen','afridi','babar','janzib','saleem','shehroz','malik'} 
B = {'abad','atta','hanan','hammad','shazil','hadi','zain','saad','faisal','ali','shehzad','ahmed','arkam','zafir','saleem','shehroz','malik'} 
print (A.difference(B)) 
print (B.difference(A))
u = input("universal set is: ")
x = input("Some of student play both: ")
a = input("Enter the students who played hockey: ")
print (u.difference(x))
print (x.difference(u))

{'shaheen', 'janzib', 'jamshed', 'afridi', 'fahad', 'salah', 'babar'}
{'saad', 'hanan', 'abad', 'zain', 'hammad', 'shazil', 'atta', 'hadi'}
universal set is: 40
Some of student play both: 21
Enter the students who played hockey: 10

AttributeError: 'str' object has no attribute 'difference'