# LAB 6,JAISHA IMRAN 19B-059-SE

# 01

In [24]:
import time
def strftime(day, min, date, yr):
    c = '{0}, {1} {2} {3}'.format(day, min, date, yr)
    return c
strftime('Monday', 'November', '25', '2019')

'Monday, November 25 2019'

In [23]:
import time
def strftime(h, m, a, c, d, t, o, date):
    b = '{0}: {1} {2} {3} {4} {5} {6} {7}'.format(h, m, a, c, d, t, o, date)
    return b
strftime(9, 40, 'PM', 'Central', 'Daylight', 'Time', 'on', '11/25/2019' )

'9: 40 PM Central Daylight Time on 11/25/2019'

In [26]:
import time
def strftime(s, day, mon, date, a, hr, min, p):
    w = '{0}, {1}, {2}, {3}, {4}, {5}, {6}, {7}'.format(s, day, min, date, a, hr, min, p)
    return w
strftime('I will meet you on', 'Thurs', 'July', 13, 'at', 9, 40, 'PM')

'I will meet you on, Thurs, 40, 13, at, 9, 40, PM'

# 02

In [19]:
def a(forecast):
    count = forecast.count('day')
    weather = forecast.find('sunny')
    change = forecast.replace('sunny', 'cloudy')
    return count, weather, change

a('It will be a sunny day today')

(2, 13, 'It will be a cloudy day today')

# 03

In [42]:
def even(value):
    for i in range(1, value):
        if(i%2==0)or(i%3==0):
            print(i, end = ' ')
    return
value = int(input("Enter the value: "))
even(value)

Enter the value: 17
2 3 4 6 8 9 10 12 14 15 16

# 04

In [1]:
def Info():
    first = 'Jaisha'
    last = 'Imran'
    street = '15'
    number = 654378
    city = 'Karachi'
    state = 'Pakistan'
    zipCode = 7865
    ZEN = '{0} \n{1} \n{2} \n{3} \n{4} \n{5} \n{6}'.format(first, last, street, number, 
                                                           city, state, zipCode)
    print(ZEN)
    return
Info()

Jaisha
Imran
15
654378
Karachi
Pakistan
7865

# 05

In [7]:
import time
def month(num):
    mon = 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 
    'November', 'December'
    month = mon[num]
    month_abbre = month[0:3]
    
    return month_abbre
month(2)

'Mar'

# 06

In [4]:
def cheer(teamName):
    A = 'How do you spell winner?'
    B = 'I know I know !'
    C = 'And that is how you spell winner!'
    D = 'Go Uitians'
    print('{0}\n{1}\n{2}\n{3}'.format(A, B, C, D))
    return 
cheer('uitians')

How do you spell winner?
I know I know !
And that is how you spell winner!
Go Uitians

# 07

In [5]:
import datetime
time = datetime.datetime.now()

menu = {'Cheese burger':220, 'Beef burger' :120, 'Plain Burger':300, 'Fries':100, 'Cheese fries':180, 'Chicken legs':300}

def order(customer_name, val, quantity, ans):
    print('Welcome to IG.')
    print('Customer name: ', customer_name)
    print('What would you like to have?')
    print(val)
    print('OK, how many? ')
    print(quantity)
    print('Anything else? ')
    print(ans)
    if ans == 'Yes' or 'yes':
        print('What would you like to have?')
        print('OK, how many? ')
        print(quantity)
        print('Anything else? ')
        print(ans)
        if ans != 'Yes'or 'yes':
            print('ok')
    else:
        print('OK')
    
    Q1=quantity*menu[val]
    Q2=Q1+(Q1*0.013)
    print('\n\n')
    print('\t\t\t' , chr(175)*40)
    print('\t\t\t WELCOME TO IG FAST FOODS')
    print('\t\t\t' , chr(175)*40)
    print('\t\t\t', customer_name, ' ' , time)
    print('\t\t\t' , chr(175)*40)
    print('\n')
    print('\t\t\t', val, ': ' , quantity,': ', Q1)
    print('\t\t\t Total amount: ', Q1)
    print('\t\t\t GST:', ' ', '13%')
    print('\t\t\t Ground Total: ', ' ', Q2)
    print('\t\t\t' , chr(175)*40)
    print('\n')
    return 
order('Jaisha Imran', 'Plain Burger', 3, 'no')

Welcome to IG.
Customer name:  Jaisha Imran
What would you like to have?
Plain Burger
OK, how many?
3
Anything else?
no
What would you like to have?
OK, how many?
3
Anything else?
no
ok



			 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
			 WELCOME TO IG FAST FOODS
			 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
			 Jaisha Imran   2020-01-18 20:04:05.807060
			 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯


			 Plain Burger :  3 :  900
			 Total amount:  900
			 GST:   13%
			 Ground Total:    911.7
			 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯

# 08

In [6]:
def converter(start_point, end_point):
    print('\t\t\tDecimal\t\t\t\t\t\t\tBinary\t\t\t\t\t\t  Octal\t\t\t\t\t\t  Hexa-decimal')
    for i in range(start_point, end_point):
        print('The value in decimal system is: {0}\tin binary system is: {1}\t in octal system is: {2}\t in hexa-decimal system is: {3}'.format(i, bin(i), oct(i), hex(i)))

converter(1, 4)

			Decimal							Binary						  Octal						  Hexa-decimal
The value in decimal system is: 1	in binary system is: 0b1	 in octal system is: 0o1	 in hexa-decimal system is: 0x1
The value in decimal system is: 2	in binary system is: 0b10	 in octal system is: 0o2	 in hexa-decimal system is: 0x2
The value in decimal system is: 3	in binary system is: 0b11	 in octal system is: 0o3	 in hexa-decimal system is: 0x3

# 09

In [7]:
#student1
info1 = {'Name':'ZARA', 'Roll number': 108, 'Semester': 1, 'Department':' Software Engineering', 'Semester fees': 89885, 'Miscellaneous fees': 18000, 'Sports fees': 5000, 'Enrollment fees': 3500, 'Total':116385}

#student copy
print(chr(175)*40)
print('\t\t', 'STUDENT COPY')
print(chr(175)*40)
for i, j in info1.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

#university copy
print(chr(175)*40)
print('\t\t', 'UNIVERSITY COPY')
print(chr(175)*40)
for i, j in info1.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

#bank copy
print(chr(175)*40)
print('\t\t', 'BANK COPY')
print(chr(175)*40)
for i, j in info1.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 STUDENT COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name    ZARA
   Roll number    108
   Semester    1
   Department     Software Engineering
   Semester fees    89885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    116385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 UNIVERSITY COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name    ZARA
   Roll number    108
   Semester    1
   Department     Software Engineering
   Semester fees    89885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    116385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 BANK COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name    ZARA
   Roll number    108
   Semester    1
   Department     Software Engineering
   Semester fees    89885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    116385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯

In [8]:
#student2
info2 = {'Name':' AIZA ', 'Roll number': 208, 'Semester': 3, 'Department':' Electrical Engineering', 'Semester fees': 189885, 'Miscellaneous fees': 18000, 'Sports fees': 5000, 'Enrollment fees': 3500, 'Total':216385}

#student copy
print(chr(175)*40)
print('\t\t', 'STUDENT COPY')
print(chr(175)*40)
for i, j in info2.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

#university copy
print(chr(175)*40)
print('\t\t', 'UNIVERSITY COPY')
print(chr(175)*40)
for i, j in info2.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

#bank copy
print(chr(175)*40)
print('\t\t', 'BANK COPY')
print(chr(175)*40)
for i, j in info2.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 STUDENT COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name     AIZA
   Roll number    208
   Semester    3
   Department     Electrical Engineering
   Semester fees    189885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    216385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 UNIVERSITY COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name     AIZA
   Roll number    208
   Semester    3
   Department     Electrical Engineering
   Semester fees    189885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    216385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 BANK COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name     AIZA
   Roll number    208
   Semester    3
   Department     Electrical Engineering
   Semester fees    189885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    216385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯

In [9]:
#student3
info3 = {'Name':'ZAFIR WASEEM', 'Roll number': 408, 'Semester': 6, 'Department':' Computer Science', 'Semester fees': 289885, 'Miscellaneous fees': 18000, 'Sports fees': 5000, 'Enrollment fees': 3500, 'Total':316385}

#student copy
print(chr(175)*40)
print('\t\t', 'STUDENT COPY')
print(chr(175)*40)
for i, j in info3.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

#university copy
print(chr(175)*40)
print('\t\t', 'UNIVERSITY COPY')
print(chr(175)*40)
for i, j in info3.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

#bank copy
print(chr(175)*40)
print('\t\t', 'BANK COPY')
print(chr(175)*40)
for i, j in info3.items():
    print('  ', i, '  ' ,j)
print(chr(175)*40)

¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 STUDENT COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name    ZAFIR WASEEM
   Roll number    408
   Semester    6
   Department     Computer Science
   Semester fees    289885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    316385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 UNIVERSITY COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name    ZAFIR WASEEM
   Roll number    408
   Semester    6
   Department     Computer Science
   Semester fees    289885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    316385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		 BANK COPY
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
   Name    ZAFIR WASEEM
   Roll number    408
   Semester    6
   Department     Computer Science
   Semester fees    289885
   Miscellaneous fees    18000
   Sports fees    5000
   Enrollment fees    3500
   Total    316385
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯

# 10

In [21]:
PSO = {'Premium(super)':'Rs.114.24/Ltr', 'High Speed Diesel':'Rs.127.41/Ltr', 'Light Speed Diesel':'Rs.85.33/Ltr', 'Kerosene Oil':'Rs.97.18/Ltr'}
Shell = {'E10 Gasoline':'Rs.111.74/Ltr', 'Altron Premium':'Rs.114.24/Ltr' ,'Action+Diesel':'Rs.127.41/Ltr', 'LDO':'Rs.85.33/Ltr', 'SKO':'Rs.97.18/Ltr'}

litres = 500
diesel_litres = 300
kerosene_litres = 200

pso_litres_cost = litres / 114.24
pso_diesel1_cost = diesel_litres / 127.41
pso_diesel2_cost = diesel_litres / 85.33
pso_kerosene_cost = kerosene_litres / 97.18

shell_litres_cost = litres / 114.24 #Altron Premium
shell_diesel1_cost = diesel_litres / 127.41 #Action+Diesel
shell_diesel2_cost = diesel_litres / 85.33 #LDO
shell_kerosene_cost = kerosene_litres / 97.18 #SKO

diff_litres = pso_litres_cost - shell_litres_cost
diff_diesel1 = pso_diesel1_cost - shell_diesel1_cost
diff_diesel2 = pso_diesel2_cost - shell_diesel2_cost
diff_kerosene_cost = pso_kerosene_cost - shell_kerosene_cost

print('\t', chr(175)*85)
print("\t\t\tPSO ", "\t\t\tSHELL", "\t\t\tDIFFERENCE" )
print('\t', chr(175)*85)
print('\t\t{0}  \t{1} \t\t  {2}'.format(pso_litres_cost, shell_litres_cost, diff_litres ))
print('\t', chr(175)*85)
print('\t\t{0}  \t{1} \t\t  {2}'.format(pso_diesel1_cost, shell_diesel1_cost, diff_diesel1)  )
print('\t', chr(175)*85)
print('\t\t{0}  \t{1} \t\t  {2}'.format(pso_diesel2_cost, shell_diesel2_cost, diff_diesel2)  )
print('\t', chr(175)*85)
print('\t\t{0}  \t{1} \t\t  {2}'.format(pso_kerosene_cost, shell_kerosene_cost, diff_kerosene_cost)  )
print('\t', chr(175)*85)

	 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
			PSO  			SHELL 			DIFFERENCE
	 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		4.3767507002801125  	4.3767507002801125 		  0.0
	 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		2.354603249352484  	2.354603249352484 		  0.0
	 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		3.5157623344661904  	3.5157623344661904 		  0.0
	 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
		2.058036633052068  	2.058036633052068 		  0.0
	 ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯